              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/machine_learning.html">
                      机器学习
                    </a>
                  </li>
                  <li>
                    <a href="/posts/web.html">
                      计算机网络
                    </a>
                  </li>
                  <li>
                    <a href="/posts/distributed_computation.html">
                      分布式计算
                    </a>
                  </li>
                  <li>
                    <a href="/linux.html">
                      Linux系统
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/program.html">
                      编程语言
                    </a>
                  </li>                  
				  <li>
                    <a href="/posts/database.html">
                      数据库
                    </a>
                  </li>
                  <li>
                    <a href="/posts/other.html">
                      其他
                    </a>
                  </li>
                  <li>
                    <a href="/tags.html">
                      Tags
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
